In [36]:
import pymysql, time

# LOCAL HOST, USERID, USERPW, DB NAME 
db = pymysql.connect("localhost","root","smw012326","tutorial")

username = 'python'
tweet = 'man im so cool'

cursor = db.cursor()

try:
    cursor.execute("INSERT INTO taula (time,username,tweet) VALUES (%s,%s,%s)" ,(time.time(),username,tweet))
    #cursor.execute("DELETE FROM taula WHER")
    #cursor.execute("INSERT INTO taula VALUES (134565768,'dsfsdfsd','dfsdfsddsf')")
    #cursor.execute("UPDATE taula SET username='andrew' WHERE username='andew'")
    cursor.execute("SELECT * FROM taula")

    results = cursor.fetchall()
    for result in results:
        print(result)
    
    db.commit()

except:
    print("Unable to fetch")
    

db.close()

caching sha2: succeeded by fast path.
(1345678911, 'andew', 'Thanks ioen')
(134565768, 'dsfsdfsd', 'dfsdfsddsf')
(1530621315, 'python', 'man im so cool')
(1530621405, 'python', 'man im so cool')